* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:678px) {
    main {
        margin: 24px;
    }



}

@media screen and (min-width:679px) {
    main {
        margin: 50px;
    }
}

@media screen and (min-width:1000px) {
    main {
        margin: 50px 350px;
    }



}

body {
    margin: 0;
}

header h1 {
    text-align: center;
    font-size: 24px;
    color: white;

}

header {
    padding: 1px;
    background-color: rgb(77, 77, 214);
}



/* content */

.input,
.cari,
.done,
.dont {
    margin-top: 12px;
    box-shadow: 0px 2px 16px rgba(128, 128, 128, 0.235);
    padding: 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.input h1,
.cari h1,
.done h1,
.dont h1 {
    margin: 0;
    font-size: 20px;
    text-align: center;
    color: rgb(77, 77, 214);
    margin-bottom: 12px;
}

.input div {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    row-gap: 4px;

}

.input input,
.cari input {
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.input label,
.cari label {
    font-size: 16px;
    font-weight: 600;
    color: rgb(77, 77, 214);
}

.input .check {
    flex-direction: row;
}

.input button {
    width: 100%;
    border: none;
    background-color: rgb(77, 77, 214);
    padding: 10px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.cari div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cari input {
    width: 100%;
}

.cari button {
    border: none;
    width: 20%;
    padding: 10px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: rgb(77, 77, 214);
}

/* buku */
.item {
    border: 1px solid gray;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

h2,
p {
    margin: 0px;
}

h2 {
    font-size: 20px;
}

.about {
    display: flex;
    gap: 12px;
    color: gray;
}

.button {
    display: flex;
    gap: 6px;
}

.button button {
    border: none;
    padding: 8px;
    font-size: 12px;
    color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.sudah {
    background-color: rgb(77, 77, 214);
}

.hapus {
    background-color: salmon;
}

footer {
    text-align: center;
    color: rgba(77, 77, 214, 0.65);
    padding: 10px;
}

.submit{
    transition: all 0.3s  ease-in-out;
    -webkit-transition: all 0.3s  ease-in-out;
    -moz-transition: all 0.3s  ease-in-out;
    -ms-transition: all 0.3s  ease-in-out;
    -o-transition: all 0.3s  ease-in-out;
}
.submit:active{
    background-color: blue;
}